{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("日本代表")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("日本代表")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("日本代表")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/japan{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/japan{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{_("日本代表")}}</h1>

{% if is_latest_year is true %}
  <div style="text-align: center;">
    <p>{{_("最終更新")}}<br>{{ last_updated }}</p>
  </div>
{% endif %}

{% if participants %}
  <table>
    <thead>
      <tr>
        <th class="participant-table-left-col">{{_("出場権")}}</th>
        <th class="participant-table-name-col">{{_("名前")}}</th>
        <th class="participant-table-right-col">{{_("部門")}}</th>
      </tr>
    </thead>
    <tbody>
    {% for participant in participants %}
      <tr>
        {% if participant.is_cancelled %}
          <td class="participant-table-left-col"><s>{{ participant.ticket_class }}</s></td>
          <td class="participant-table-name-col">【{{_("辞退")}}】<br>{% include "includes/country_flag.html" %}<a href="/{{ language }}/participant_detail/{{ participant.id }}/{{ participant.mode }}">{{ participant.name }}</a></td>
          <td class="participant-table-right-col"><s>{{ participant.category }}</s></td>
        {% else %}
          <td class="participant-table-left-col">{{ participant.ticket_class }}</td>
          <td class="participant-table-name-col">{% include "includes/country_flag.html" %}<a href="/{{ language }}/participant_detail/{{ participant.id }}/{{ participant.mode }}">{{ participant.name }}</a></td>
          <td class="participant-table-right-col">{{ participant.category }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>{{_("日本代表なし")}}</p>
{% endif %}
<br>

<div class="button-container">
  <a href="/{{ language }}/{{year}}/participants"><button>GBB {{ year }} {{_("全出場者一覧")}}<br></button></a>
  <a href="/{{ language }}/{{year}}/rule"><button>{{_("出場権詳細")}}</button></a>
  <a href="/{{ language }}/{{year}}/rule"><button>GBB {{ year }} {{_("ルール & 審査員")}}</button></a>
  <a href="/{{ language }}/{{year}}/rule?scroll=result_date"><button>{{_("{Wildcard}結果発表日").format(Wildcard="Wildcard")}}</button></a>
</div>

<h2>GBB {{ year }} {{_("出場者世界地図")}}</h2>
<p>{{_("国旗をタップorクリックすると、詳細を確認できます。")}}</p>
<iframe src="/{{ language }}/{{ year }}/world_map" width="100%" height="400px" frameborder="0"></iframe>

<form method="GET" class="participants-form">
<label for="year">{{_("その他の年度を確認：")}}</label>
<select name="year" id="year" class="filter-select" onchange="redirect_year('japan')">
  {% for y in available_years %}
    <option value="{{ y }}" {% if year == y %}selected{% endif %}>{{ y }}</option>
  {% endfor %}
</select>
</form>

{% endblock %}
