{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("{Wildcard}結果 & 出場者").format(Wildcard="Wildcard")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("{Wildcard}結果 & 出場者").format(Wildcard="Wildcard")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("{Wildcard}結果 & 出場者").format(Wildcard="Wildcard")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/participants{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/participants{% endblock %}
{% block content %}

<h1>GBB {{ year }} {{_("{Wildcard}結果 & 出場者").format(Wildcard="Wildcard")}}</h1>

{% if is_latest_year is true %}
  <div style="text-align: center;">
    <p>{{_("最終更新")}}<br>{{ last_updated }}</p>
  </div>
{% endif %}

{% if not all_category %}
  <p style="text-align: center;">{{_("発表次第更新")}}</p>
  <div style="height: 100px;"></div>
{% else %}
  {% include "includes/participants_form.html" %}

  {% if ticket_class == "wildcard" %}
    <h2>{{ category }} {{_("{Wildcard}結果").format(Wildcard="Wildcard")}}</h2>
  {% elif ticket_class == "seed_right" %}
    <h2>{{ category }} {{_("シード権獲得者")}}</h2>
  {% elif ticket_class == "all" %}
    <h2>{{ category }} {{_("全出場者一覧")}}</h2>
  {% endif %}

  {% if cancel == "hide" %}
    <div class="post-it"><p>{{_("出場者のみ")}}</p></div>
  {% elif cancel == "only_cancelled" %}
    <div class="post-it"><p>{{_("辞退者のみ")}}</p></div>
  {% elif cancel == "show" %}
    <div class="post-it"><p>{{_("出場者 & 辞退者を表示")}}</p></div>
  {% endif %}

  {% if participants %}
    <table>
      <thead>
        <tr>
          <th style="width: 33%;">{{_("名前")}}</th>
          <th style="width: 34%;">{{_("国")}}</th>
          <th style="width: 33%;">{{_("出場権")}}</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participants %}
          <tr>
            {% if participant.is_cancelled %}
              <td>
                【{{_("辞退")}}】<br>
                <a href="/{{ language }}/participant_detail/{{ participant.id }}/{{ participant.mode }}">{{ participant.name }}</a>
              </td>
              <td {% if participant.country|length > 5 %} style="font-size: 12px;" {% endif %}>
                {% include "includes/country_flag.html" %}
                <s>{{ participant.country }}</s>
              </td>
              <td {% if participant.ticket_class|length > 11 %} style="font-size: 12px;" {% endif %}>
                <s>{{ participant.ticket_class }}</s>
              </td>
            {% else %}
              {% if participant.name == "???" %}
                <td>{{ participant.name }}</td>
              {% else %}
                <td>
                  <a href="/{{ language }}/participant_detail/{{ participant.id }}/{{ participant.mode }}">{{ participant.name }}</a>
                </td>
              {% endif %}
              <td {% if participant.country|length > 5 %} style="font-size: 12px;" {% endif %}>
                {% include "includes/country_flag.html" %}
                {{ participant.country }}
              </td>
              <td {% if participant.ticket_class|length > 11 %} style="font-size: 12px;" {% endif %}>
                {{ participant.ticket_class }}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p style="text-align: center;">{{_("発表次第更新")}}</p>
    <div style="height: 200px;"></div>
  {% endif %}
    {% include "includes/participants_form.html" %}
{% endif %}
<div style="margin: 40px 0;"></div>

<div class="button-container">
  <a href="/{{ language }}/{{year}}/rule?scroll=result_date"><button>{{_("{Wildcard}結果発表日").format(Wildcard="Wildcard")}}</button></a>
  <a href="/{{ language }}/{{ year }}/wildcards"><button>{{_("{Wildcard}一覧").format(Wildcard="Wildcard")}}</button></a>
  <a href="/{{ language }}/travel/top"><button style="background-image: url('/static/images/button/zenhit.webp');" class="button-with-background-image">
    <svg class="button-background-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0044CC"><path d="M480-80Q315-220 237.5-339T160-570q0-137 96.5-223.5T480-880q127 0 223.5 89T800-552l84-84 56 56-180 180-180-180 56-56 84 84q0-109-69.5-178.5T480-800q-101 0-170.5 67T240-569q0 83 59 177t181 206q20-18 37-35l34-34q-5-11-8-22t-3-23q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29q-8 0-14.5-1t-13.5-3q-29 30-61.5 61T480-80Z"/></svg>
    <span class="button-text-with-icon">ワルシャワへ行こう</span>
  </button></a>
</div>

<form method="GET" class="participants-form">
  <label for="year">{{_("その他の年度を確認：")}}</label>
  <select name="year" id="year" class="filter-select" onchange="redirect_year('participants')">
    {% for y in available_years %}
      <option value="{{ y }}" {% if year == y %}selected{% endif %}>{{ y }}</option>
    {% endfor %}
  </select>
</form>

{% if all_category %}
  <h2 name="search_participants">{{_("出場者検索")}}</h2>
  <p>GBB {{ year }} {{_("出場者名を検索できます")}}<br>{{_("半角英数字推奨")}}</p>
  <form id="search-participants" class="search-container" onsubmit="searchParticipants({{ year }}, event)">
    <input type="text" name="keyword" id="keyword" value="{{ value }}" placeholder="{{_("出場者検索")}}" pattern="[a-zA-Z0-9\s]*" oninput="this.value = this.value.replace(/[^a-zA-Z0-9\s]/g, '')">
    <button type="submit"></button>
  </form>
  <div id="loading" class="loading"></div>

  <h3 id="participants-search-result-title">{{_("検索結果")}}</h3>
  <div id="exact-match-message" style="text-align: center;"></div>
  <table>
    <thead>
      <tr>
        <th style="width: 33%;">{{_("名前")}}</th>
        <th style="width: 34%;">{{_("部門")}}</th>
        <th style="width: 33%;">{{_("出場権")}}</th>
      </tr>
    </thead>
    <tbody id="participants-search-result"></tbody>
  </table>


  <h2>{{_("出場者世界地図")}}</h2>
  <p>GBB {{ year }} {{_("全出場者を地図にマッピングしました。")}}<br>{{_("国旗をタップorクリックすると、詳細を確認できます。")}}</p>
  <iframe src="/{{ language }}/{{ year }}/world_map" width="100%" height="400px" frameborder="0"></iframe>
{% endif %}

<div class="button-container">
  <a href="/{{ language }}/{{ year }}/rule"><button type="button">GBB {{ year }} {{_("ルール")}}</button></a>
  <a href="/{{ language }}/{{ year }}/cancels"><button type="button">GBB {{ year }} {{_("辞退者一覧")}}</button></a>
</div>
<div class="button-container">
  <a href="/{{ language }}/{{ year - 1 }}/participants"><button type="button">GBB {{ year - 1 }} {{_("{Wildcard}結果 & 出場者").format(Wildcard="Wildcard")}}</button></a>
</div>

{% endblock %}
