table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(34, 34, 34);
}

table th {
    border-bottom: solid 4px rgb(255, 100, 23);
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
    font-size: 16px;
}

table td {
    text-align: center;
    padding: 10px 0;
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}

.winner {
    color: rgb(255, 100, 23);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

.post-it {
    padding: 0.5em 1em;
    margin: 20px 0;
    font-size: 16px;
    color: rgb(34, 34, 34);
    background: rgba(255, 255, 255, 0.5);
    border-left: solid 25px rgb(252, 167, 75);
}

.post-it-notice {
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
    color: rgb(34, 34, 34);
    background: rgba(255, 255, 255, 0.5);
    border-left: solid 15px rgb(0, 255, 255);
    border-right: solid 15px rgb(0, 255, 255);
}

.chart {
    max-height: 40vh;
    background-color: rgba(255, 255, 255, 0.3);
}

.participant-table-left-col {
    width: 30%;
    font-size: 14px;
}

.participant-table-name-col {
    width: 40%;
    font-size: 16px;
}

.participant-table-right-col {
    width: 30%;
    font-size: 14px;
}

.participant-member-text {
    font-size: 14px;
}
