{% extends "base.html" %}

{% block title %}GBB {{ beatboxer_detail.year }} {{ beatboxer_detail.name }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ beatboxer_detail.year }} {{ beatboxer_detail.name }} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ beatboxer_detail.year }} {{ beatboxer_detail.name }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/others/participant_detail{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/others/participant_detail{% endblock %}
{% block content %}

<h1>GBB {{ beatboxer_detail.year }} {{ beatboxer_detail.name }}</h1>
<div class="youtube-embed-video"></div>

{% if mode == "single" or mode == "team" %}
    <table>
        <thead>
            <tr>
                <th>{% if beatboxer_detail.is_cancelled %}【{{_("辞退")}}】{% endif %}</th>
                {% if beatboxer_detail.is_cancelled %}
                    <th><s>{{ beatboxer_detail.name }}</s></th>
                {% else %}
                    <th>{{ beatboxer_detail.name }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{_("部門")}}</td>
                {% if beatboxer_detail.is_cancelled %}
                    <td><s>{{ beatboxer_detail.category }}</s></td>
                {% else %}
                    <td>{{ beatboxer_detail.category }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{_("国")}}</td>
                {% if beatboxer_detail.is_cancelled %}
                    <td><s>{{ beatboxer_detail.country }}</s></td>
                {% else %}
                    <td>{{ beatboxer_detail.country }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{_("出場権")}}</td>
                {% if beatboxer_detail.is_cancelled %}
                    <td><s>{{ beatboxer_detail.ticket_class }}</s></td>
                {% else %}
                    <td>{{ beatboxer_detail.ticket_class }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endif %}

{% if mode == "team" %}
    <h2>TEAM MEMBERS</h2>
    <table>
        <thead>
            <tr>
                <th>{{_("名前")}}</th>
                <th>{{_("国")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in beatboxer_detail.ParticipantMember %}
            <tr>
                {% if beatboxer_detail.is_cancelled %}
                    <td>【{{_("辞退")}}】<br><a href="/others/participant_detail?id={{ member.id }}&mode=team_member">{{ member.name }}</a></td>
                    <td><s>{{ member.country }}</s></td>
                {% else %}
                    <td><a href="/others/participant_detail?id={{ member.id }}&mode=team_member">{{ member.name }}</a></td>
                    <td>{{ member.country }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if beatboxer_detail.is_cancelled %}
    <div class="post-it">
        <p>{{ beatboxer_detail.name }}: GBB {{ beatboxer_detail.year }} 【{{_("辞退")}}】</p>
    </div>
    {% endif %}
{% endif %}

{% if mode == "team_member" %}
    <table>
        <thead>
            <tr>
                <th>{% if beatboxer_detail.is_cancelled %}【{{_("辞退")}}】{% endif %}</th>
                {% if beatboxer_detail.is_cancelled %}
                    <th><s>{{ beatboxer_detail.name }}</s></th>
                {% else %}
                    <th>{{ beatboxer_detail.name }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{_("国")}}</td>
                {% if beatboxer_detail.is_cancelled %}
                    <td><s>{{ beatboxer_detail.country }}</s></td>
                {% else %}
                    <td>{{ beatboxer_detail.country }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>TEAM</td>
                {% if beatboxer_detail.is_cancelled %}
                    <td>【{{_("辞退")}}】<br><a href="/others/participant_detail?id={{ beatboxer_detail.Participant.id }}&mode=team">{{ beatboxer_detail.Participant.name }}</a></td>
                {% else %}
                    <td><a href="/others/participant_detail?id={{ beatboxer_detail.Participant.id }}&mode=team">{{ beatboxer_detail.Participant.name }}</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endif %}

<div class="answer"></div>

<div class="button-container">
    <a href="/{{beatboxer_detail.year}}/participants"><button>GBB {{ beatboxer_detail.year }} {{_("全出場者一覧")}}<br></button></a>
    <a href="/{{beatboxer_detail.year}}/top"><button>GBB {{ beatboxer_detail.year }} {{_("これだけガイド")}}</button></a>
</div>

<h2>{{ beatboxer_detail.name }} {{_("過去の出場履歴")}}</h2>
{% if past_participation_data %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{_("名前")}}</th>
                <th>{{_("部門")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for past_participation in past_participation_data %}
                <tr>
                    {% if past_participation.is_cancelled %}
                        <td><s>{{ past_participation.year }}</s></td>
                        <td>【{{_("辞退")}}】<br><a href="/others/participant_detail?id={{ past_participation.id }}&mode={{ past_participation.mode }}">{{ past_participation.name }}</a></td>
                        <td><s>{{ past_participation.category }}</s></td>
                    {% else %}
                        <td>{{ past_participation.year }}</td>
                        <td><a href="/others/participant_detail?id={{ past_participation.id }}&mode={{ past_participation.mode }}">{{ past_participation.name }}</a></td>
                        <td>{{ past_participation.category }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if past_year_participation %}
    <div class="button-container">
        {% for year in past_year_participation[:2] %}
            <a href="/{{year}}/participants"><button>GBB {{ year }} {{_("出場者一覧")}}<br></button></a>
            <a href="/{{year}}/result"><button>GBB {{ year }} {{_("大会結果")}}<br></button></a>
        {% endfor %}
    </div>
    {% if past_year_participation|length >= 3 %}
        <div class="button-container">
            {% for year in past_year_participation[2:] %}
                <a href="/{{year}}/participants"><button>GBB {{ year }} {{_("出場者一覧")}}<br></button></a>
                <a href="/{{year}}/result"><button>GBB {{ year }} {{_("大会結果")}}<br></button></a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

<h2>{{ beatboxer_detail.name }} {{_("関連サイト")}}</h2>
<div style="margin: 40px;"></div>
<div class="account-urls"></div>
<div style="margin: 40px;"></div>
<div class="final-urls"></div>

<div class="post-it">
    <p>
        {{_("表示されている関連サイトやSNS情報は、自動検索によって取得されたものです。")}}<br>
        {{_("内容に誤りが含まれている可能性があります。")}}
    </p>
</div>

<div class="button-container">
    <a href="https://www.genspark.ai/search?query={{ genspark_query }}&newSugUi=" target="_blank" rel="noopener noreferrer"><button>{{_("もっと調べる")}} - {{ beatboxer_detail.name }}</button></a>
</div>

<h2>GBB {{ beatboxer_detail.year }} {{ beatboxer_detail.category }} {{_("他の出場者")}}</h2>
<table>
    <thead>
        <tr>
            <th style="width:33%">{{_("名前")}}</th>
            <th style="width:34%">{{_("国")}}</th>
            <th style="width:33%">{{_("出場権")}}</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in same_year_category_participants %}
        <tr>
            {% if participant.is_cancelled %}
                <td>
                    【{{_("辞退")}}】<br>
                    <a href="/others/participant_detail?id={{ participant.id }}&mode={{ same_year_category_mode }}">{{ participant.name }}</a>
                </td>
                    <td {% if participant.country|length > 5 %} style="font-size: 12px;" {% endif %}>
                    <s>{{ participant.country }}</s>
                </td>
                    <td {% if participant.ticket_class|length > 11 %} style="font-size: 12px;" {% endif %}>
                    <s>{{ participant.ticket_class }}</s>
                </td>
            {% else %}
                <td>
                    {% if participant.name == "???" %}
                        {{ participant.name }}
                    {% else %}
                        <a href="/others/participant_detail?id={{ participant.id }}&mode={{ same_year_category_mode }}">{{ participant.name }}</a>
                    {% endif %}
                </td>
                <td {% if participant.country|length > 5 %} style="font-size: 12px;" {% endif %}>
                    {{ participant.country }}
                </td>
                <td {% if participant.ticket_class|length > 11 %} style="font-size: 12px;" {% endif %}>
                    {{ participant.ticket_class }}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="button-container">
    <a href="/{{beatboxer_detail.year}}/participants"><button>GBB {{ beatboxer_detail.year }} {{_("全出場者一覧")}}<br></button></a>
    {% if language == 'ko' %}
        <a href="/{{beatboxer_detail.year}}/korea"><button>GBB {{ beatboxer_detail.year }} {{_("韓国代表")}}</button></a>
    {% else %}
        <a href="/{{beatboxer_detail.year}}/japan"><button>GBB {{ beatboxer_detail.year }} {{_("日本代表")}}</button></a>
    {% endif %}
    <a href="/{{beatboxer_detail.year}}/result"><button>GBB {{ beatboxer_detail.year }} {{_("大会結果")}}</button></a>
</div>

<script src="/static/scripts/participant_detail.js"></script>
<script>
    const beatboxerId = {{ beatboxer_detail.id }};
    const mode = "{{ mode }}";
    tavilySearch(beatboxerId, mode).finally(() => {
        answerTranslation(beatboxerId, mode);
    });
</script>

{% endblock %}
