{% extends "base.html" %}
{% block title %}GBB 2023 これだけガイド - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2023:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2023:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/top{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/top{% endblock %}
{% block content %}

<h1>GBB 2023</h1>
<p>GBB {{ year }}: 10/18 - 10/21</p>
<p style="text-align: center;">Grand Beatbox Battleの各種情報を、日本語に翻訳し見やすくまとめた非公式情報サイトです。</p>

<div class="button-container">
  <a href="/{{ language }}/{{ year }}/participants"><button type="button">Wildcard結果 & 出場者</button></a>
  <a href="/{{ language }}/others/how_to_plan"><button type="button">現地観戦計画のたてかた</button></a>
  <a href="/{{ language }}/{{ year }}/rule"><button type="button">GBB2023ルール & 審査員</button></a>
  <a href="/{{ language }}/{{ year }}/ticket"><button type="button">会場 & チケット</button></a>
  {% if language == "ko" %}
    <a href="/{{ language }}/{{ year }}/korea"><button type="button">韓国代表</button></a>
  {% else %}
    <a href="/{{ language }}/{{ year }}/japan"><button type="button">日本代表</button></a>
  {% endif %}
  <a href="/{{ language }}/{{ year }}/timetable"><button type="button">タイムテーブル</button></a>
  <a href="/{{ language }}/{{ year }}/stream"><button type="button">当日配信</button></a>
  <a href="/{{ language }}/{{ year }}/result"><button type="button">大会結果</button></a>
</div>
<ul>
    <li><a href="/{{ language }}/others/url_change">当サイトURL変更のお知らせ</a></li>
    <li><a href="/{{ language }}/others/result_stream">Wildcard結果発表配信</a></li>
    <li><a href="/{{ language }}/others/7tosmoke">7toSmokeとは</a></li>
    <li><a href="/{{ language }}/{{ year }}/wildcards">Wildcard一覧</a></li>
</ul>
<div class="button-container">
  <a href="/{{ language }}/{{ year }}/top_7tosmoke"><button>7toSmoke<br>これだけガイド</button></a>
</div>

{% endblock %}
