{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("ルール")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("ルール")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("ルール")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/rule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/rule{% endblock %}
{% block content %}

<h1>GBB {{ year }} {{_("ルール")}}</h1>

<div style="text-align: center;">
    <p>{{_("最終更新")}}<br>{{ last_updated }}</p>
</div>

<p>{{_("現時点で、以下の断片的な情報のみ発表されています。")}}</p>
<ul>
    <li>
        {{_("開催部門一覧")}}
        <ul>
            <li>
                Loopstation
            </li>
            <li>
                Solo
            </li>
            <li>
                Tag Team
            </li>
            <li>
                Crew
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>{{_("Producer部門は廃止")}}</li>
</ul>
<ul>
    <li>
        {{_("新部門として「SHOWCASE」を追加")}}
        <ul>
            <li>
                {{_("この部門では、バトルを行わない")}}
            </li>
            <li>
                {{_("Wildcardの審査は他部門と別の基準で行われ、ストーリー、芸術性、独自性などで評価")}}
            </li>
            <li>
                SHOWCASE - {{_("開催部門一覧")}}
                <ul>
                    <li>
                        SHOWCASE - Solo
                    </li>
                    <li>
                        SHOWCASE - Loopstation
                    </li>
                    <li>
                        SHOWCASE - Producer
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>{{_("また、Solo部門・Loopstation部門のWildcardルールが変更されることが予告されています。最新情報が公開され次第、このページを更新します。")}}</p>

<h2 id="seeds-section" name="seeds">{{_("出場シード権 獲得条件")}}</h2>
<p>
    {{_("Wildcardを勝ち上がる以外の方法でGBB出場権を得る方法（シード権）と、その該当者は以下の通りです。")}}
</p>

<h3>{{_("シード権 - GBB")}}</h3>
{% if gbb_seed|length > 0 %}
    <table>
        <thead>
            <tr>
                <th style="width: 33%;">{{_("名前")}}</th>
                <th style="width: 34%;">{{_("部門")}}</th>
                <th style="width: 33%;">{{_("出場権")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in gbb_seed %}
                <tr>
                    <td><a href="/others/participant_detail?id={{ participant.id }}&mode={{ participant.mode }}">{% include "includes/country_flag.html" %}{{ participant.name }}</a></td>
                    <td>{{ participant.category }}</td>
                    <td {% if participant.ticket_class|length > 10 %} style="font-size: 12px;" {% endif %}>
                    {{ participant.ticket_class }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{_("～発表次第更新～")}}</p>
{% endif %}

<h3>{{_("シード権 - その他")}}</h3>
{% if other_seed|length > 0 %}
    <table>
        <thead>
            <tr>
                <th style="width: 33%;">{{_("名前")}}</th>
                <th style="width: 34%;">{{_("部門")}}</th>
                <th style="width: 33%;">{{_("出場権")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in other_seed %}
                <tr>
                    {% if participant.name == "???" %}
                        <td>{{ participant.name }}</td>
                    {% else %}
                        <td><a href="/others/participant_detail?id={{ participant.id }}&mode={{ participant.mode }}">{% include "includes/country_flag.html" %}{{ participant.name }}</a></td>
                    {% endif %}
                    <td>{{ participant.category }}</td>
                    <td {% if participant.ticket_class|length > 10 %} style="font-size: 12px;" {% endif %}>
                        {{ participant.ticket_class }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{_("～発表次第更新～")}}</p>
{% endif %}

<h3>{{_("シード権辞退者一覧")}}</h3>
{% if cancelled|length > 0 %}
    <table>
        <thead>
            <tr>
            <th style="width: 33%;">{{_("名前")}}</th>
            <th style="width: 34%;">{{_("部門")}}</th>
            <th style="width: 33%;">{{_("出場権")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in cancelled %}
                <tr>
                    <td>
                        【{{_("辞退")}}】<br><a href="/others/participant_detail?id={{ participant.id }}&mode={{ participant.mode }}">{% include "includes/country_flag.html" %}{{ participant.name }}</a>
                    </td>
                    <td>
                        <s>{{ participant.category }}</s>
                    </td>
                    <td {% if participant.ticket_class|length > 10 %} style="font-size: 12px;" {% endif %}>
                        <s>{{ participant.ticket_class }}</s>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{_("～発表次第更新～")}}</p>
{% endif %}

<div class="button-container">
    <a href="/{{ year }}/participants"><button>{{_("Wildcard結果")}}</button></a>
    <a href="/{{ year }}/participants"><button>{{_("出場者一覧")}}</button></a>
</div>

<blockquote class="twitter-tweet"><p lang="ja" dir="ltr">GBB26ワイカのマスタリング承ります！！<br>詳細はDMまで！！</p>&mdash; 𝐼𝑚𝑝𝑒𝑑𝑎𝑛𝑐𝑒 (@impedanceryuma) <a href="https://twitter.com/impedanceryuma/status/1989002266301591893?ref_src=twsrc%5Etfw">November 13, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet"><p lang="ja" dir="ltr">GBB26 ワイルドカード サムネイル制作します<br>価格 : 3000円<br>支払い方法 : アマギフ、PayPay、ゆうちょ振込、SuiCa、Nanaco、WAON、はやかけん</p>&mdash; dupo 🛸 (@TWlCER) <a href="https://twitter.com/TWlCER/status/1989003314953113881?ref_src=twsrc%5Etfw">November 13, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}
