{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("当日配信")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("当日配信")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("当日配信")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/stream{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/stream{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{_("当日配信")}}</h1>

<p class="unavailable-text">{{ _("発表次第更新") }}</p>

<h2>{{_("観戦のお供に")}}</h2>
<p>{{ _("GBB {year} の最新情報をチェックしよう").format(year=year) }}</p>
<div class="button-container">
    <a href="/{{ language }}/{{ year }}/participants"><button>{{_("{Wildcard}結果").format(Wildcard="Wildcard")}} & {{_("出場者")}}</button></a>
    <a href="/{{ language }}/{{ year }}/timetable"><button>{{_("タイムテーブル")}}</button></a>
</div>

{% endblock %}
