{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("チケット")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("チケット")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("チケット")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}

<h1>GBB {{ year }} {{_("会場 & チケット")}}</h1>
<p>{{_("開催地：ポーランド・ワルシャワ")}}</p>
<p>{{_("会場")}}：{{_("～発表次第更新～")}}<br>
    {{_("チケット")}}：{{_("～発表次第更新～")}}</p>

{% endblock %}
