{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("会場 & チケット")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("会場 & チケット")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("会場 & チケット")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}

<h1>GBB {{ year }} {{_("会場 & チケット")}}</h1>
<p>{{_("ポーランド・ワルシャワ")}}</p>
<p>{{_("会場")}}：<a href="https://maps.app.goo.gl/L9S927kARXL9dKJ78" target="_blank" rel="noopener noreferrer">COS Torwar</a><br>
    <a href="https://gbb.swissbeatbox.com" target="_blank" rel="noopener noreferrer">{{_("チケット販売ページ")}}</a></p>

{% endblock %}
