{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("会場 & チケット")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("会場 & チケット")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("会場 & チケット")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ language }}/{{ year }}/ticket{% endblock %}
{% block content %}

<h1>GBB {{ year }} {{_("会場 & チケット")}}</h1>
<p>{{_("ポーランド・ワルシャワ")}}</p>
<p>{{_("会場")}}：<a href="https://maps.app.goo.gl/L9S927kARXL9dKJ78" target="_blank" rel="noopener noreferrer">COS Torwar</a><br>
<a href="https://gbb.swissbeatbox.com" target="_blank" rel="noopener noreferrer">{{_("チケット販売ページ")}}</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6121.336627009248!2d21.047471084987986!3d52.21967533280484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd02df99729d%3A0x120bb57e07d1fd45!2sArena%20COS%20Torwar!5e0!3m2!1sen!2sjp!4v1776728225542!5m2!1sen!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="button-container">
    <a href="/{{ language }}/travel/top"><button style="background-image: url('/static/images/button/zenhit.webp');" class="button-with-background-image">
        <svg class="button-background-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0044CC"><path d="M480-80Q315-220 237.5-339T160-570q0-137 96.5-223.5T480-880q127 0 223.5 89T800-552l84-84 56 56-180 180-180-180 56-56 84 84q0-109-69.5-178.5T480-800q-101 0-170.5 67T240-569q0 83 59 177t181 206q20-18 37-35l34-34q-5-11-8-22t-3-23q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29q-8 0-14.5-1t-13.5-3q-29 30-61.5 61T480-80Z"/></svg>
        <span class="button-text-with-icon">ワルシャワへ行こう</span>
    </button></a>
</div>

{% endblock %}
