{% extends "base.html" %}

{% block title %}GBB {{ year }} {{_("{Wildcard}一覧").format(Wildcard="Wildcard")}} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} {{_("{Wildcard}一覧").format(Wildcard="Wildcard")}} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} {{_("{Wildcard}一覧").format(Wildcard="Wildcard")}} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/wildcards{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/wildcards{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{_("{Wildcard}一覧").format(Wildcard="Wildcard")}}</h1>

<div class="button-container">
  <a href="/{{ year }}/participants"><button>{{_("{Wildcard}結果").format(Wildcard="Wildcard")}} & {{_("出場者")}}</button></a>
  <a href="/{{ year }}/rule"><button>{{_("ルール")}} & {{_("審査員")}}</button></a>
</div>

<ul>
  <li style="list-style: none; display: inline">
    <ul>
      <li>
        <a href="https://www.youtube.com/playlist?list=PL-lF9xAI7Ut1QGCCS8RGq5Qpy1DKEIqaA" target="_blank" rel="noopener noreferrer">
          Loopstation
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PL-lF9xAI7Ut1UO2wAl3nuz3gofCgIhSFo" target="_blank" rel="noopener noreferrer">
          Solo
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PL-lF9xAI7Ut1RbqqhzK5P5NQJ1sbzEGP1" target="_blank" rel="noopener noreferrer">
          Tag Team
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PL-lF9xAI7Ut2Rf9UDK0mvntazS6HKPSHQ" target="_blank" rel="noopener noreferrer">
          Crew
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener noreferrer">
          SHOWCASE (loopstation)
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PL-lF9xAI7Ut0x8q022VmszOlNItRhgRnl" target="_blank" rel="noopener noreferrer">
          SHOWCASE (producer)
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener noreferrer">
          SHOWCASE (solo)
        </a>
      </li>
    </ul>
  </li>
</ul>

<div class="button-container">
  <a href="/{{ year }}/participants"><button>{{_("{Wildcard}結果").format(Wildcard="Wildcard")}} & {{_("出場者")}}</button></a>
  <a href="/{{ year }}/rule"><button>{{_("ルール")}} & {{_("審査員")}}</button></a>
</div>

<h2>{{_("注意事項")}}</h2>
<p>
  {{_("今回公開する{Wildcard}一覧は、有志が作成した、非公式のものです。").format(Wildcard="Wildcard")}}
  <a href="https://twitter.com/_NURUYU_" target="_blank" title="https://twitter.com/_NURUYU_" rel="noopener noreferrer">作成者：ぬる湯さん}</a>
</p>
<p>
  {{_("すべて手作業で制作されたものであるため、重複や欠落がある可能性があります。")}}
</p>
<p>
  {{_("また、この再生リストにある動画が必ずしも{Wildcard}として申請された動画であるとは限りません（毎年必ず出場者の手続きミスで失格者が出ます）。").format(Wildcard="Wildcard")}}
</p>

<div class="button-container">
  <a href="/others/how_to_plan"><button>{{_("現地観戦計画のたてかた")}}</button></a>
  {% if language == 'ko' %}
    <a href="/{{ year }}/korea"><button>{{_("韓国代表")}}</button></a>
  {% else %}
    <a href="/{{ year }}/japan"><button>{{_("日本代表")}}</button></a>
  {% endif %}
</div>

<h3>tips: NOT Wildcard</h3>
<p>
  {{_("{Wildcard}シーズン中に、「{NOTWildcard}」を称する動画がまれに投稿されます。これは、正式な{Wildcard}エントリーではないものの、{Wildcard}に似た形式で制作された動画です。要するに、遊んでいるだけです。").format(NOTWildcard="NOT Wildcard", Wildcard="Wildcard")}}
</p>

{% endblock %}
